# standard exclusions
.bundle
config/database.yml
db/*.sqlite3
log/*
tmp/**/*
# vendor/**/*

# custom exclusions
db/dumps/*
public/digital_files/*
public/logos/*
public/tmp_digital_files/*

!.gitignore

# local system files
.DS_Store
*.swp
*.*~
