<h2>Editing element for standard <q><%= @metadata_standard.description %></q></h2>

<%= render :partial => "form" %>

<%= link_to 'Show', metadata_standard_element_path(@metadata_standard, @element) %> |
<%= link_to 'Back', metadata_standard_elements_path(@metadata_standard) %>

