<h2>
  <%= t :page_title, :scope => [:terms, :new] %>
  <q><%= t :one, :scope => [:activerecord, :models, @vocabulary.name.tableize.singularize.to_sym] %></q>
</h2>

<%= render :partial => "form" %>

<%= link_to t(:back_link, :scope => [:terms, :new]), vocabulary_terms_path(@vocabulary) %>

