<h2>Editing property for entity <%= @entity.name %></h2>

<%= render :partial => "form" %>
<%= link_to 'Show', entity_property_path(@entity, @property) %> |
<%= link_to 'Back', entity_properties_path(@entity) %>

