<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
<head>
<title>Biblioteca Digitale della Lombardia - Login</title>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta http-equiv="content-language" content="it" />
<%= stylesheet_link_tag 'screen' %>
</head>

<body id="login">
  <h1>Biblioteca Digitale della Lombardia</h1>
  <div id="login-dialog">
  <% if flash[:notice] -%>
  <p class="notice"><%= flash[:notice] %></p>
  <% end -%>
  <%= yield :layout %>
  </div>
</body>
</html>
